body {
	min-width: 300px;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 18px;
}

img.small-icon {
	border: none;
	outline: none;
	width: 25px;
	height: 25px;	
}

img.small-icon:hover {
	cursor: pointer;
}

div.success-text {
	color: green;
}

div.const-height {
	height: 1.5em;
}

